name: bld-ci

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build-bld-project:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Download dependencies
        run: ./bld download

      - name: Compile source code
        run: ./bld compile

      - name: Run tests
        id: tests
        run: ./bld test

      - name: Run reporter
        if: always() && steps.tests.outcome == 'failure'
        run: ./bld reporter --all
